body {
    margin: 0;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    color: #111;
    background-color: hsl(333, 100%, 93%);
  
    padding: 2rem 9%;
    
}

@media (max-width: 768px) {
    .servicios {
        flex-direction: column;
    }
}


header {
    padding: 20px;
    text-align: center;
    
}

h1 {
    font-style: italic;
    color: rgb(233, 106, 125);
    font-size: 36px;
    text-align: center;
}

h2 {
    color: rgb(0, 0, 0);
}

.container {
    width: 70%;
    margin: auto;
    text-align: center;
    
}

p {
    text-align: center;
    line-height: 1.6;
    font-size: 15px;
}

nav {
    text-align: center;
    margin: 30px 0;
    padding: 10px 0;
    border-top: 1px solid #000;
    border-bottom: 1px solid #000;
}.servicios {
    display: flex;
    gap: 20px;
    margin-top: 30px;
}


nav a {
    text-decoration: none;
    color: #000;
    font-weight: bold;
    margin: 0 10px;
}


.servicio {
    flex: 1;
    padding: 20px;
    border-radius: 12px;
    background-color: #fff;
    box-shadow: 0 4px 10px rgba(0,0,0,0.06);
}


form {
    margin-top: 20px;
}

input, textarea {
    width: 100%;
    padding: 8px;
    border-radius: 6px;
    border: 1px solid #999;
}

button {
    background-color: rgb(174, 61, 95);
    color: white;
    border: none;
    padding: 10px 20px;
    border-radius: 6px;
    cursor: pointer;
}

footer {
    padding: 20px;
    font-size: 13px;
    text-align: center;
}

/* RESPONSIVE */
@media (max-width: 768px) {
    .container {
        width: 90%;
    }

    .servicios {
        flex-direction: column;
    }
}
.morado {
    background-color: rgb(211, 122, 211);
    color: white;
}
